.bp-fix{
	padding:0 105px 0 105px;
}
.form-block{
	margin:0px 100px 0 0;
}
.font-bold{
	font-weight:blod;
}
.color-tag{
	color:#999;
}
.tag-split{
	margin-left:10px;
}
.main-container{
	padding:0px 10px 0 0;
}
.item-block-common{
	padding:5px 0 0 0;	
}
.split-line-block{
	margin:20px 0 0 0;
}
.split-line{
	border-top:1px solid #eee;
}